:root {
  --mainColor: #147d64;
  --secondaryColor: #0c6b58;

  --borderColor: #161914;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgb(20, 123, 99, 0.8);
  --previewShadow: #2a2f25;

  --buttonColor: #3ebd93;
}
